<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Product Detail
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-title class="ion-text-center" color="success">
      <h3>Lays*product name</h3>
    </ion-card-title>

    <ion-item>
      <img [src]='"https://media2.giphy.com/media/l2SpQ0pTWgKGQ7Z7i/giphy.gif"' alt="Description" />
    </ion-item>
    <ion-card-header>
      <ion-card-subtitle>barcode Number ***********</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col>
          Brand
        </ion-col>
        <ion-col>
          name
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Category
        </ion-col>
        <ion-col>
          shamshi
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Color
        </ion-col>
        <ion-col>
          shamshi
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Description
        </ion-col>
        <ion-col>
          shamshi
        </ion-col>
      </ion-row>
    </ion-card-content>
    <!-- <ion-button (click)="scanBarcode()" class="ion-margin-top"  expand="block" fill="outline">Save this
      Product
    </ion-button>-->
    <ion-button  expand="block" fill="outline">
      <ion-item>
        <ion-label>Save this product</ion-label>
        <ion-datetime   min="1990-02" max="2030-12"
        displayFormat="MM YY" ></ion-datetime>
      </ion-item>
    </ion-button>
    

    
  </ion-card> 
  
</ion-content>