<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Product Scanner
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-title class="ion-text-center" color="success">
      <h3>{{productDetails[0]['product_name']}}</h3>
    </ion-card-title>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let image of p_images">
        <ion-item>
          <img src="{{image}}" alt="Description" />
        </ion-item>
      </ion-slide>
    </ion-slides>

    <ion-card-header>
      <ion-card-subtitle>Barcode: {{productDetails[0]['barcode_number']}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col>
          Brand
        </ion-col>
        <ion-col>
          {{productDetails[0]['brand']}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Category
        </ion-col>
        <ion-col>
          {{productDetails[0]['category']}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Color
        </ion-col>
        <ion-col>
          {{productDetails[0]['color']}}
        </ion-col>
      </ion-row>
      
    </ion-card-content>
    <!-- <ion-button (click)="scanBarcode()" class="ion-margin-top"  expand="block" fill="outline">Save this
      Product
    </ion-button>-->
    <ion-button expand="block" fill="outline">
      <ion-item>
        <ion-label>Save this product</ion-label>
        <ion-datetime  displayFormat="MMM DD YYYY"  [min]="myDate" max="2030-12" [(ngModel)]="mydate" (ionChange)="doSomething(mydate)"></ion-datetime>
      </ion-item>
    </ion-button>



  </ion-card>

</ion-content>