<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Product Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-bottom">
  <ion-card class="margin-botto" *ngFor="let product of products">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-evenly">
        <ion-col size="4">
          <img [src]='"https://media2.giphy.com/media/l2SpQ0pTWgKGQ7Z7i/giphy.gif"' alt="Description" />
        </ion-col>
        <ion-col *ngIf="product['name']">
          {{product['name']}}
          <ion-row>
            <ion-col>
              <div>
                added
              </div>
              <div>
                {{product['added']}}
              </div>
            </ion-col>
            <ion-col>

              <div>
                expires
              </div>
              <div>
                {{product['expires']}}
              </div>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button class="ion-margin-top" size="small" expand="block" fill="outline">Delete
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="ion-margin-top" size="small" expand="block" fill="outline">Used
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  
</ion-content>